
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    background: #3B4D56;
    background: linear-gradient(#3B4D56, #54257F);
    flex-direction: column;
}

.header-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #f3f3f3;
    height: 20vh;
    width: 98%;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 4px;
    border-radius: 5px;
}

header{
    width: 80%;
    display: flex;
    align-content: center;
    align-items: center;
}

header img{
    display: inline-block;
    margin-left: 35%;
    width: 6rem;
}

header h1{
    font-family: 'Qahiri', sans-serif;
    font-size: 2rem;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(#39289e, #54257F);
    color: #f3f3f3;
    padding: .5rem;
    border-radius: 10px;
    overflow:hidden;
}

header h1:hover{
    text-shadow: 0 0 30px #fff;
}

.nav-menu{
    border-radius: 6px;
    width: 70%;
    height: 5rem; 
    background: linear-gradient(#763ECA, #38A0F7);
    box-shadow: #000;
}

.nav-menu ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav-menu ul li{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-left: 1rem;
    padding: 1rem;
    width: 10rem;
    text-align: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-family: 'roboto', sans-serif;
    cursor: pointer;
}

.nav-menu ul li:hover{
    background: linear-gradient(#8455c9, #62b3f5);
}


section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #0A1535;
    height: 66vh;
    width: 98%;
    margin: auto;
    margin-top: 4px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #f3f3f3;
}

.form1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border:1px solid #d9d9d9;
    height:35rem;
    border-radius: 10px;
    overflow: hidden;
    width: 40rem;
    margin: auto;
    background: #F8F9FB;
}
.form1 select{

    background: transparent;
    font-size: .8rem;
    height: 1.6rem;
    padding: 5px;
    width: 250px;
    margin-bottom: .2rem;
} 

.form1 input[type=text]{
    height: 1.6rem;
    width: 250px;
    font-size: .8rem;
}

.costo{
    align-self: center;
    width: 5rem;
    height: 2rem;
    border: 1px solid #000;
    text-justify: auto;
}

button{
    width: 6rem;
    background-color: #0A1535;
    border: none;
    color: white;
    padding-top: 15px;
    padding-right: 32px;
    padding-bottom: 15px;
    padding-left: 19px;
    margin-top: 15px;
    text-decoration: none;
    font-size: 1rem;
}

button:hover{
    background: #3B4D56;
}


.img-type{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #d9d9d9;
    height:35rem;
    border-radius: 10px;
    overflow: hidden;
    width: 40rem;
    margin: auto;
    background: #f3f3f3;

}
 .img-type img{
     width: 60%;  
 }



footer{
    background: #f3f3f3;
    height: 10vh;
    width: 98%;
    margin: auto;
    margin-bottom: 4px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #0A1535;
}